In [63]:
import numpy as np
import pandas as pd

In [64]:
data_path= r'../input/brasilian-houses-to-rent/houses_to_rent.csv'
data= pd.read_csv(data_path)

In [65]:
data.head(5)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

* Things to do
* remove 'Unnamed: 0' column
* convert all the categorical values(string values)'animal','furniture' to numbers
* remove all the R$ on the columns lie 'hoa','rent amount', property tax','fire insurance', 'total'
* change all '-' to ''

In [67]:
#remove/drop 'Unnamed: 0' column
print("The list of columns:> ",data.columns)
data.drop(data.columns[0],axis=1, inplace=True)
data.head(5)

The list of columns:>  Index(['Unnamed: 0', 'city', 'area', 'rooms', 'bathroom', 'parking spaces',
       'floor', 'animal', 'furniture', 'hoa', 'rent amount', 'property tax',
       'fire insurance', 'total'],
      dtype='object')

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [68]:
#convert all the categorical values(string values)'animal','furniture' to numbers
data['animal'].replace(to_replace='acept', value=1,inplace=True)
data['animal'].replace(to_replace='not acept', value=0,inplace=True)

data['furniture'].replace(to_replace='furnished', value=1,inplace=True)
data['furniture'].replace(to_replace='not furnished', value=0,inplace=True)

In [69]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,-,1,1,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,1,0,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,1,1,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,1,0,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,0,0,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [70]:
#remove all the R$ on the columns lie 'hoa','rent amount', property tax','fire insurance', 'total'
columns= ['hoa','rent amount','property tax','fire insurance','total']
for column in columns:
    data[column].replace(to_replace='R\$', value='',regex=True,inplace=True) #$ should be escaped 
    data[column].replace(to_replace=',', value='',regex=True,inplace=True)

In [71]:
data.head(5)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,-,1,1,0,8000,1000,121,9121
1,0,64,2,1,1,10,1,0,540,820,122,11,1493
2,1,443,5,5,4,3,1,1,4172,7000,1417,89,12680
3,1,73,2,2,1,12,1,0,700,1250,150,16,2116
4,1,19,1,1,0,-,0,0,0,1200,41,16,1257

In [72]:
#change all '-' to ''
data['floor'].replace(to_replace='-',value=0,inplace=True)

In [73]:
data.head(5)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,1,1,0,8000,1000,121,9121
1,0,64,2,1,1,10,1,0,540,820,122,11,1493
2,1,443,5,5,4,3,1,1,4172,7000,1417,89,12680
3,1,73,2,2,1,12,1,0,700,1250,150,16,2116
4,1,19,1,1,0,0,0,0,0,1200,41,16,1257

In [74]:
# in the column 'hoa' there are more categorical values like 'Sem info', 'Incluso' so need to replace them
data['hoa'].value_counts()

0           1291
Sem info     119
Incluso       83
1000          82
1200          71
            ...
3158           1
3167           1
2880           1
1938           1
1764           1
Name: hoa, Length: 1292, dtype: int64

In [75]:
data['hoa'].replace(to_replace='Sem info',value=0,inplace=True)
data['hoa'].replace(to_replace='Incluso',value=0,inplace=True)
data['property tax'].replace(to_replace='Incluso', value='0', inplace=True)

In [76]:
data.head(5)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,1,1,0,8000,1000,121,9121
1,0,64,2,1,1,10,1,0,540,820,122,11,1493
2,1,443,5,5,4,3,1,1,4172,7000,1417,89,12680
3,1,73,2,2,1,12,1,0,700,1250,150,16,2116
4,1,19,1,1,0,0,0,0,0,1200,41,16,1257

In [77]:
#converting all the data to int64 dtype
data= data.astype(dtype=np.int64)
data.head(5)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,1,1,0,8000,1000,121,9121
1,0,64,2,1,1,10,1,0,540,820,122,11,1493
2,1,443,5,5,4,3,1,1,4172,7000,1417,89,12680
3,1,73,2,2,1,12,1,0,700,1250,150,16,2116
4,1,19,1,1,0,0,0,0,0,1200,41,16,1257

# Search functionality on the data

In [78]:
data.isin(['Incluso']).any() #search for 'Incluso'

city              False
area              False
rooms             False
bathroom          False
parking spaces    False
floor             False
animal            False
furniture         False
hoa               False
rent amount       False
property tax      False
fire insurance    False
total             False
dtype: bool

# Shuffle the data

In [79]:
data= data.sample(frac=1).reset_index(drop=True)
data.head(5)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,153,4,3,3,3,1,0,2500,5500,700,70,8770
1,1,70,1,1,2,9,1,1,2150,7000,542,89,9781
2,1,60,1,1,0,3,0,0,180,1200,0,16,1396
3,1,57,1,1,1,16,1,1,740,3100,115,40,3995
4,1,62,2,1,1,2,1,0,1000,5000,184,64,6248

# Remove Y from the data

In [80]:
y= data['city']
x= data.drop('city',axis=1)

In [81]:
print("Shape of Y:> ",y.shape)
print("Shape of X:> ",x.shape)

Shape of Y:>  (6080,)
Shape of X:>  (6080, 12)

# Scaling the dataset to 0-1

In [82]:
from sklearn.preprocessing import MinMaxScaler

In [83]:
scaler= MinMaxScaler()
scaler.fit(x)
x= scaler.transform(x)

# Splitting the dataset

In [86]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,train_size=0.8)

# Training the AI models

In [87]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

In [89]:
# initialising the model
logistic_model= LogisticRegression(penalty='l2', verbose=1)
support_vector_model= SVC(kernel='rbf', verbose=1)
perceptron_model= MLPClassifier(hidden_layer_sizes=(16, 16), activation='relu', solver='adam', verbose=1)

In [90]:
#fitting the model on the dataset
logistic_model.fit(x_train,y_train)
support_vector_model.fit(x_train,y_train)
perceptron_model.fit(x_train,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
 This problem is unconstrained.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s finished

RUNNING THE L-BFGS-B CODE

           * * *

Machine precision = 2.220D-16
 N =           13     M =           10

At X0         0 variables are exactly at the bounds

At iterate    0    f=  3.37147D+03    |proj g|=  1.74900D+03

           * * *

Tit   = total number of iterations
Tnf   = total number of function evaluations
Tnint = total number of segments explored during Cauchy searches
Skip  = number of BFGS updates skipped
Nact  = number of active bounds at final generalized Cauchy point
Projg = norm of the final projected gradient
F     = final function value

           * * *

   N    Tit     Tnf  Tnint  Skip  Nact     Projg        F
   13     40     44      1     0     0   3.533D-02   1.812D+03
  F =   1812.1375097898788

CONVERGENCE: REL_REDUCTION_OF_F_<=_FACTR*EPSMCH
[LibSVM]..
Warning: using -h 0 may be faster
*...
Warning: using -h 0 may be faster
*
optimization finished, #iter = 5571
obj = -1365.677993, rho = 0.970779
nSV = 1511, nBSV = 1266
Total nSV = 1511
Iteration 1, loss = 0.56331011
Iteration 2, loss = 0.51666790
Iteration 3, loss = 0.46342937
Iteration 4, loss = 0.42567263
Iteration 5, loss = 0.40904062
Iteration 6, loss = 0.40222458
Iteration 7, loss = 0.39777804
Iteration 8, loss = 0.39470425
Iteration 9, loss = 0.39233931
Iteration 10, loss = 0.39055952
Iteration 11, loss = 0.38884954
Iteration 12, loss = 0.38739898
Iteration 13, loss = 0.38605366
Iteration 14, loss = 0.38476583
Iteration 15, loss = 0.38328507
Iteration 16, loss = 0.38197452
Iteration 17, loss = 0.38063160
Iteration 18, loss = 0.37899924
Iteration 19, loss = 0.37750684
Iteration 20, loss = 0.37597886
Iteration 21, loss = 0.37488101
Iteration 22, loss = 0.37336104
Iteration 23, loss = 0.37220888
Iteration 24, loss = 0.37093079
Iteration 25, loss = 0.36990366
Iteration 26, loss = 0.36902222
Iteration 27, loss = 0.36775346
Iteration 28, loss = 0.36663105
Iteration 29, loss = 0.36574823
Iteration 30, loss = 0.36500472
Iteration 31, loss = 0.36447696
Iteration 32, loss = 0.36350699
Iteration 33, loss = 0.36300248
Iteration 34, loss = 0.36226357
Iteration 35, loss = 0.36202900
Iteration 36, loss = 0.36163352
Iteration 37, loss = 0.36085857
Iteration 38, loss = 0.36064918
Iteration 39, loss = 0.36015809
Iteration 40, loss = 0.35996371
Iteration 41, loss = 0.35941576
Iteration 42, loss = 0.35921683
Iteration 43, loss = 0.35900012
Iteration 44, loss = 0.35847971
Iteration 45, loss = 0.35875362
Iteration 46, loss = 0.35823150
Iteration 47, loss = 0.35797656
Iteration 48, loss = 0.35770335
Iteration 49, loss = 0.35768776
Iteration 50, loss = 0.35805668
Iteration 51, loss = 0.35737495
Iteration 52, loss = 0.35690503
Iteration 53, loss = 0.35677523
Iteration 54, loss = 0.35682041
Iteration 55, loss = 0.35621058
Iteration 56, loss = 0.35659626
Iteration 57, loss = 0.35691692
Iteration 58, loss = 0.35589380
Iteration 59, loss = 0.35573407
Iteration 60, loss = 0.35546565
Iteration 61, loss = 0.35487514
Iteration 62, loss = 0.35433350
Iteration 63, loss = 0.35379606
Iteration 64, loss = 0.35447080
Iteration 65, loss = 0.35313296
Iteration 66, loss = 0.35239667
Iteration 67, loss = 0.35210532
Iteration 68, loss = 0.35140590
Iteration 69, loss = 0.35118464
Iteration 70, loss = 0.35068085
Iteration 71, loss = 0.34961667
Iteration 72, loss = 0.34942863
Iteration 73, loss = 0.34882190
Iteration 74, loss = 0.34815891
Iteration 75, loss = 0.34728120
Iteration 76, loss = 0.34680999
Iteration 77, loss = 0.34600348
Iteration 78, loss = 0.34480753
Iteration 79, loss = 0.34412335
Iteration 80, loss = 0.34438319
Iteration 81, loss = 0.34254772
Iteration 82, loss = 0.34179383
Iteration 83, loss = 0.34079542
Iteration 84, loss = 0.33965152
Iteration 85, loss = 0.33901300
Iteration 86, loss = 0.33775644
Iteration 87, loss = 0.33812249
Iteration 88, loss = 0.33592012
Iteration 89, loss = 0.33532558
Iteration 90, loss = 0.33424780
Iteration 91, loss = 0.33295269
Iteration 92, loss = 0.33201558
Iteration 93, loss = 0.33066694
Iteration 94, loss = 0.32962858
Iteration 95, loss = 0.32859517
Iteration 96, loss = 0.32731383
Iteration 97, loss = 0.32623323
Iteration 98, loss = 0.32573064
Iteration 99, loss = 0.32486331
Iteration 100, loss = 0.32350705
Iteration 101, loss = 0.32276368
Iteration 102, loss = 0.32212042
Iteration 103, loss = 0.32156567
Iteration 104, loss = 0.32099696
Iteration 105, loss = 0.32016362
Iteration 106, loss = 0.32033862
Iteration 107, loss = 0.31888657
Iteration 108, loss = 0.31825422
Iteration 109, loss = 0.31764685
Iteration 110, loss = 0.31839542
Iteration 111, loss = 0.31694715
Iteration 112, loss = 0.31619595
Iteration 113, loss = 0.31574144
Iteration 114, loss = 0.31584877
Iteration 115, loss = 0.31662534
Iteration 116, loss = 0.31430222
Iteration 117, loss = 0.31405451
Iteration 118, loss = 0.31375230
Iteration 119, loss = 0.31365408
Iteration 120, loss = 0.31359276
Iteration 121, loss = 0.31269964
Iteration 122, loss = 0.31191411
Iteration 123, loss = 0.31165625
Iteration 124, loss = 0.31172892
Iteration 125, loss = 0.31126752
Iteration 126, loss = 0.31091290
Iteration 127, loss = 0.31096457
Iteration 128, loss = 0.31018232
Iteration 129, loss = 0.31011576
Iteration 130, loss = 0.31001343
Iteration 131, loss = 0.30936829
Iteration 132, loss = 0.30896907
Iteration 133, loss = 0.30890921
Iteration 134, loss = 0.30992683
Iteration 135, loss = 0.30827184
Iteration 136, loss = 0.30796714
Iteration 137, loss = 0.30816828
Iteration 138, loss = 0.30770952
Iteration 139, loss = 0.30695990
Iteration 140, loss = 0.30713215
Iteration 141, loss = 0.30677841
Iteration 142, loss = 0.30654135
Iteration 143, loss = 0.30650506
Iteration 144, loss = 0.30592849
Iteration 145, loss = 0.30597478
Iteration 146, loss = 0.30569012
Iteration 147, loss = 0.30545257
Iteration 148, loss = 0.30545880
Iteration 149, loss = 0.30478833
Iteration 150, loss = 0.30448066
Iteration 151, loss = 0.30447705
Iteration 152, loss = 0.30416835
Iteration 153, loss = 0.30465043
Iteration 154, loss = 0.30395031
Iteration 155, loss = 0.30382399
Iteration 156, loss = 0.30331897
Iteration 157, loss = 0.30351519
Iteration 158, loss = 0.30283567
Iteration 159, loss = 0.30294956
Iteration 160, loss = 0.30316865
Iteration 161, loss = 0.30241565
Iteration 162, loss = 0.30252564
Iteration 163, loss = 0.30341560
Iteration 164, loss = 0.30194253
Iteration 165, loss = 0.30164070
Iteration 166, loss = 0.30188009
Iteration 167, loss = 0.30118515
Iteration 168, loss = 0.30167153
Iteration 169, loss = 0.30138175
Iteration 170, loss = 0.30100936
Iteration 171, loss = 0.30116887
Iteration 172, loss = 0.30081220
Iteration 173, loss = 0.30078375
Iteration 174, loss = 0.30034549
Iteration 175, loss = 0.29995609
Iteration 176, loss = 0.29939499
Iteration 177, loss = 0.30060182
Iteration 178, loss = 0.29982088
Iteration 179, loss = 0.29976301
Iteration 180, loss = 0.29952698
Iteration 181, loss = 0.30001709
Iteration 182, loss = 0.30061894
Iteration 183, loss = 0.29843888
Iteration 184, loss = 0.29963432
Iteration 185, loss = 0.29912590
Iteration 186, loss = 0.29863517
Iteration 187, loss = 0.29840853
Iteration 188, loss = 0.29791582
Iteration 189, loss = 0.29805735
Iteration 190, loss = 0.29806305
Iteration 191, loss = 0.29794701
Iteration 192, loss = 0.29820725
Iteration 193, loss = 0.29741224
Iteration 194, loss = 0.29716244
Iteration 195, loss = 0.29815329
Iteration 196, loss = 0.29710653
Iteration 197, loss = 0.29747142
Iteration 198, loss = 0.29705711
Iteration 199, loss = 0.29677988
Iteration 200, loss = 0.29647840

/opt/conda/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

MLPClassifier(hidden_layer_sizes=(16, 16), verbose=1)

# Scoring the model on the testing dataset

In [91]:
print(logistic_model.score(x_test,y_test))
print(support_vector_model.score(x_test,y_test))
print(perceptron_model.score(x_test,y_test))

0.8782894736842105
0.8782894736842105
0.8914473684210527

# Checking whether the data is skewed or not ?
* since the dataset is skewed as the no of positive samples are more then negative sample, which can be verified below
* if the data is skewed then 'accuracy' is not a good metric to check the performance of the model thus we need better metric for evaluating the model like:> 'precision', 'recall','f1-score' etc

In [92]:
Y.value_counts()

1    5249
0     831
Name: city, dtype: int64

In [93]:
from sklearn.metrics import f1_score

In [95]:
log_pred = logistic_model.predict(x_test)
svm_pred = support_vector_model.predict(x_test)
nn_pred = perceptron_model.predict(x_test)

In [97]:
print('f1_score of logistic model:> ',f1_score(log_pred,y_test))
print('f1_score of support vector model:> ',f1_score(svm_pred,y_test))
print('f1_score of perceptron model:> ',f1_score(nn_pred,y_test))

f1_score of logistic model:>  0.935201401050788
f1_score of support vector model:>  0.935201401050788
f1_score of perceptron model:>  0.9408071748878925